doctype 5
html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width")
    link(href="styles/main.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")
    block title
      title= "My Project"
  body
    block nav
    block content
